.SurveyKeyList {
  width: 100%;
  margin: 20px 0 0;
}

.manage-study-key-header {
  display: flex;
  flex-direction: row;
  width: 80%;
  font-weight: 500;
  margin: 0 0 10px;
}

.manage-study-key-item {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items:  center;
  margin: 0 0 10px;
}

.key-item-name {
  width: 25%;
  overflow: hidden;
}

.key-item-key {
  width: 25%;
  overflow: hidden;
}

.key-item-type {
  width: 15%;
  overflow: hidden;
}

.key-item-id {
  width: 15%;
  overflow: hidden;
}

.manage-study-no-keys {
  margin: 0 0 10px;
}