.vanderbilt-logo {
  max-width: 304px;
}

.user-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.user-flex p {
  margin: 0;
  padding: 0;
  margin-left: 10px;
}