html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  min-height: 100%;
  background: #fafafa;
}

/* select.form-control, textarea.form-control, input.form-control {
  font-size: 16px;
} */

input[type=file] { 
  width: 100%;
}

h1 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 25px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  display: inline-block;
}

p.text {
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

p.subtext {
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  padding: 0;
}

.transparent-background {
  background: rgba(0,0,0,0) !important;
}

.field-background {
  border-radius: 2px;
  background: linear-gradient(to bottom, #ffffff 54px, rgba(0,0,0,0) 54px) !important;
}

.field-background-dark {
  border-radius: 2px;
  background: linear-gradient(to bottom, #e8e8e8 54px, rgba(0,0,0,0) 54px) !important;
}

.date-input {
  color: transparent !important;
  text-shadow: 0 0 0 #333333;
}

a {
  color: #026682;
  font-size: 16px;
  letter-spacing: 0.5px;
}

a:hover {
  color: #026682;
  cursor: pointer;
}