.StudyInfo {
  margin: 0 10% 0;
  width: 80%;
}

.study-info-search-wrapper {
  width: 100%;
  margin-bottom: 86px;
  margin-top: 17px;
}

.study-info-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.study-info-title {
  display: inline-flex;
  flex-grow: 2;
}

.study-info-tab-wrapper {
  margin-bottom: 32px;
}

.part-li-header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0 13px;
  margin: 40px 0 30px;
}

.part-li-header-id {
  width: 13%;
  text-align: left;
  cursor: pointer;
  flex-direction: row;
  display: inline-flex;
  align-items: center;
}

.part-li-header-first-name {
  width: 15%;
  text-align: left;
  cursor: pointer;
  flex-direction: row;
  display: inline-flex;
  align-items: center;
}

.part-li-header-last-name {
  width: 15%;
  text-align: left;
  cursor: pointer;
  flex-direction: row;
  display: inline-flex;
  align-items: center;
}

.part-li-header-status {
  width: 12%;
  text-align: left;
  cursor: pointer;
  flex-direction: row;
  display: inline-flex;
  align-items: center;
}

.part-li-header-group {
  width: 12%;
  text-align: left;
  cursor: pointer;
  flex-direction: row;
  display: inline-flex;
  align-items: center;
}

.part-li-header-sms {
  width: 13%;
  text-align: center;
}

.sort-icon-wrapper {
  color: #026682;
  margin-left: 5px;
}

.sort-icon {
  font-size: 35px;
}

.surveys-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.surveys-selector {
  width: 20%;
}

.survey-selector-item {
  cursor: pointer;
  width: auto;
  display: inline-block;
  padding-bottom: 2px;
}

.survey-selector-item.selected {
  cursor: default;
  border-bottom: solid 2px #026682;
  font-weight: 700;
}

.survey-details-wrapper {
  width: 80%;
}